[Desktop Entry]
Type=Application
Name=ET: Legacy (x86 64-bit)
GenericName=World War II first-person shooter
Comment=World War II first-person shooter
Icon=${SNAP}/usr/local/share/icons/hicolor/scalable/apps/etl.svg
Exec=etl.x86_64
Terminal=false
MimeType=x-scheme-handler/et;
Categories=Game;ActionGame;
StartupNotify=false
Keywords=team-based;multiplayer;tactical;WWII;enemy;territory;etl;etlegacy;
PrefersNonDefaultGPU=true
